<div class="grid">
  <aside>
    <nav>
      <img markup-inline src="img/svg/material/ic_account_circle_black_24px.svg" alt="user image">
      <span>Shaltay Alexander Bol...</span>
<!--       <button mat-icon-button>
          <um-svg-icon icon="ic_settings_black_24px"></um-svg-icon>
      </button> -->
      <form>
          <mat-form-field>
            <input matInput placeholder="Search contacts">
          </mat-form-field>
        </form>
    </nav>
    <div>

    </div>
    <footer>
    footer
    </footer>
  </aside>
  <main>
    <nav>Header</nav>
    <div>
    DIALOG
    </div>
    <footer>Footer</footer>
  </main>

</div>
